<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="jumbotron">
    <h1>Welcome to My Website</h1>
    <p>There might be some apps to try at the top.  There might not.  Find me at <a href="https://joewarner.rocks">joewarner.rocks</a></p>
  </div>

<%- include('partials/footer') %>