html {
    font-size: 62.5%;
}

body > div {
    padding: 4rem;
}

#answerDiv {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 150px; 
    overflow-y: auto; 
    text-align: center;
}