html {
    font-size: 62.5%;
}

body > div {
    padding: 4rem;
}

#answerDiv {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 150px; 
    overflow-y: auto; 
    text-align: center;
}

#autocompleteDropdown .dropdown-item {
    display: block; /* Display each link as a block element */
    padding: 5px;
    margin: 2px 0;
    background-color: #f8f9fa; /* Example background color */
    border-radius: 3px;
    cursor: pointer;
}